// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.title{max-width: 600px}
.odd {background-color: #f9f9f9}
.sold{color: green;}
.price{width: 60px;padding-left: 15px}
tr:hover{background-color: #dce0dc}
.td{align: center}
#form_tag{display: block}
div{display: inline-block}
.shipping{width: 60px;padding-left: 15px}